<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Counter</ion-title>
    <ion-buttons end>
      <button (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="counter">
    <ion-row class="rowCount" wrap>
        <ion-col class="colCount" *ngFor="let counter of counters">
            <ion-card class="card">
                <!--<ion-item class="header">-->
                <input class="header" type="text" placeholder="Counter" value="{{counter.label}}">
                <!--</ion-item>-->
                <div class="count">
                    <input type="number" value="{{counter.count}}">
                </div>
                <ion-item>
                    <button primary clear item-left (click)="countIncrement(counter)">
                        <span>Increment</span>
                    </button>
                    <ion-note item-right>
                        <span *ngIf="counter.sinceUpdated">{{counter.sinceUpdated}}s ago</span>
                    </ion-note>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>

<button fab fab-bottom fab-right (click)="addCounter()">
    <ion-icon name="add"></ion-icon>
</button>
