.counter {
  .card {
    // max-width: 150px;
    // min-width: 150px;
    // width: 150px;
  }
  .header {
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 100%;
  }
  .count input[type="number"]{
    text-align: center;
    padding: 4px;
    font-size: 40px;
    width: 100%;
    border: none;
  }
}
