<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-card *ngFor="let item of currentItems">

    <ion-card-header text-center>
      <button ion-button clear (click)="openCounterDetails(item)">
        <h2>{{item.label}}</h2>
      </button>
    </ion-card-header>

    <ion-card-content>
      <p text-center class="count">{{item.count}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear class="tally-unary" (click)="decrement(item)">
          <ion-icon name="remove"></ion-icon>
          <div>{{'COUNTERS_DECREMENT' | translate}}</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          <ion-icon name="clock"></ion-icon>
          <span *ngIf="item.sinceUpdated">{{counter.sinceUpdated}}s ago</span>
        </ion-note>
      </ion-col>
      <ion-col text-right>
        <button ion-button icon-left clear class="tally-unary" (click)="increment(item)">
          <ion-icon name="add"></ion-icon>
          <div>{{'COUNTERS_INCREMENT' | translate}}</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
