page-list-master {

  .count {
    font-size: 6em;
  }

  @media(min-width: 600px) {
    .counter {
      ion-card {
        display: inline-block;
        width: calc(50% - 20px);
      }
    }
  }
  @media(max-width: 767px) {
    .counter {
      .button-inner { //for buttons
        flex-direction: column;
      }
      ion-icon { //for other
        width: 100%;
      }
    }
  }

}
